.container {
    height: 100%;
    background-color: #222;
}

.sidenav {
    min-width: 250px;
}

mat-toolbar {
    background-color: #003e62
}

img {
    width: 136px;
    margin-left: .25em;
    margin-right: .75em;
}

.spacer {
  flex: 1 1 auto;
}

a {
    line-height: 24px;
}
