<div class="body">
    <div class="container">
        <mat-card>
            <h2>Generate QR Code</h2>
        </mat-card>
        
        <mat-card *ngIf="url">
            <qrcode
                [qrdata]="url"
                [width]="192"
                imageSrc="https://static.benedikt-schwering.de/media/img/flender.ico"
                [imageWidth]="32"
                [imageHeight]="32"
                [errorCorrectionLevel]="'M'">
            </qrcode>

            <code>{{ url }}</code>
        </mat-card>
    </div>
</div>
